@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400&family=Vampiro+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  background-color: #b4acba;
}

.working {
  @apply text-sm;
}

.text-new-grey {
  color: #b4acba;
}

.text-new-lightpurple {
  color: #b3a2bc;
}

.text-new-darkpurple {
  color: #665e72;
}

.text-new-lightpink {
  color: #e8bfb3;
}

.bg-new-lightpink {
  background-color: #e8bfb3;
}

.bg-new-lightpurple {
  background-color: #b3a2bc;
}

.bg-new-darkpurple {
  background-color: #665e72;
}

.bg-new-grey {
  background-color: #b4acba;
}

.border-b-new-darkpurple {
  border-bottom: 2px solid #665e72;
}

.border-t-new-darkpurple {
  border-top: 2px solid #665e72;
}

.brush {
  filter: invert(37%) sepia(10%) saturate(662%) hue-rotate(222deg)
    brightness(99%) contrast(94%);
}

.filter-lightpink {
  filter: invert(77%) sepia(13%) saturate(603%) hue-rotate(325deg)
    brightness(107%) contrast(82%);
}

.filter-lightpurple {
  filter: invert(82%) sepia(4%) saturate(581%) hue-rotate(231deg)
    brightness(86%) contrast(89%);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

.h-slide {
  opacity: 0;
  transition-duration: 0.5s ease;
}

.h-slide.h-active {
  opacity: 1;
  transition-duration: 0.5s;
}
